.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
{{#unit}}
test/coverage
{{/unit}}
cordova/www
cordova/platforms/ios/www
cordova/platforms/android/assets/www
cordova/platforms/android/CordovaLib/build
cordova/platforms/android/.gradle
!cordova/platforms/android/cordova/node_modules
!cordova/platforms/ios/cordova/node_modules
!cordova/plugins/cordova-plugin-mfp/hooks/node_modules
UserInterfaceState.xcuserstate
.tmp/
dist/
*.swp
*.swo
*.ipa
*.apk
